@import './cartItem';

.cart-box{
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 380px;
  position: absolute;
  background: white;
  top:55px;
  right: 0;
  -webkit-box-shadow: 1px 1px 5px 0 #858585;
  -moz-box-shadow: 1px 1px 5px 0 #858585;
  box-shadow: 1px 1px 5px 0 #858585;
  &::before {
    content: '';
    display: block;
    position: absolute;
    background: white;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    top: -6px;
    right: 15px;
    -webkit-box-shadow: 1px 1px 5px 0 #858585;
    -moz-box-shadow: 1px 1px 5px 0 #858585;
    box-shadow: 1px 1px 5px 0 #858585;
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    background: white;
    height: 10px;
    width: 20px;
    top: 0;
    right: 10px;
  }
  .cart-items{
    overflow: auto;
    height: calc(100% - 40px);
    padding: 0 15px 0 10px;
  }
  > input{
    height: 40px;
    width: calc(100% - 30px);
    margin: 0 15px 15px 15px;
    font-size: 16px;
    background: #eaa833;
    border: none;
    color: white;
  }
  .no-items{
    color: darken($second-color, 30%);
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 50% 0 0 0;
  }

}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}