header{
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1;
  -webkit-box-shadow: 0 2px 5px 0 #C7C7C7;
  -moz-box-shadow: 0 2px 5px 0 #C7C7C7;
  box-shadow: 0 2px 5px 0 #C7C7C7;

  .main-width{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
  }
  .logo{
    color: $main-color;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 3px;
    margin: 0 60px 0 0;
  }
  .search-area{
    position: relative;
    form{
      display: flex;
      align-items: center;
    }
    .text-input{
      height: 35px;
      width: 350px;
      border: 2px solid $main-color;
      padding: 0 0 0 10px;
    }
    .submit-btn{
      height: 35px;
      width: 90px;
      background: $main-color url("/Veggie/img/search.svg") no-repeat center;
      background-size: 20px 20px;
      border: none;
    }
  }
  .shopping-cart{
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    font-size: 14px;
    div:not(.cart-icon){
      display: flex;
      flex-direction: column;
      span{
        color: $main-color;
        margin: 0 0 0 auto;
      }
    }
    div:nth-of-type(2){
      margin: 0 0 0 10px;
      span{
        font-weight: 600;
      }
    }
    .cart-icon{
      height: 40px;
      width: 40px;
      background-image: url("/Veggie/img/shop.svg");
      margin: 0 0 0 20px;
    }
  }
}