.search-area{
  position: relative;
  form{
    display: flex;
    align-items: center;
  }
  .text-input{
    height: 35px;
    width: 350px;
    border: 2px solid $main-color;
    padding: 0 0 0 10px;
  }
  .submit-btn{
    height: 35px;
    width: 90px;
    background: $main-color url("/FruitsAndVeggies/img/search.svg") no-repeat center;
    background-size: 20px 20px;
    border: none;
  }
}